.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;

  background-color: whitesmoke;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-image: url("./img/earth6.jpg") !important;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

canvas {
  height: 450px !important;
}

footer {
  padding: 2px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  font-size: small;
  text-align: center;
  font-size: 30px;
}
header {
  padding: 25px;
}

h3 {
  margin-top: 20px !important;
  color: black;
}

h4 {
  color: white;
  margin-top: 20px !important;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 12px;
  font-size: 20px !important;
  margin-right: 35px !important;
  cursor: pointer;
  border-radius: 6px !important;
  margin-top: 20px !important;
}

input {
  font-size: 16px;

  padding: 8px 14px;
  color: black;
  font-weight: bold;
  border-radius: 6px;
}

form {
  margin-top: 100px;
  margin-left:40%;
}
